.c-primary-nav {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.c-primary-nav__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.c-primary-nav__item {
    margin-right: 2rem;
}