.c-section {
    padding: 2rem;
}

.c-section__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.c-section__title {
    font-size: 2rem;
    margin: 0;
}

.c-section__description {
    margin: 0;
}